@{
    ViewData["Title"] = "Home Page";
}
<div class="something">
    <h1>Contoso University</h1>
</div>
<div>
    class="row">
    <div class="col-md-4">
        <h2>Tere tulemast ContosoUniversity</h2>
        <p>
            Yan Shapovalov
            TARpe23
            2024/2025
        </p>
    </div>
    <div class="col-md-4">
        <h2>teeme midagi</h2>
        <p>
            midagi 
        </p>
        <p>
            <a class="btn btn-default" href="https://github.com/YanShapov">Minu github</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tere tulemast ContosoUniversity</h2>
        <p>
           123123
           123123
           123123
           123123
        </p>
    </div>
</div>